*{
  font-family: "Karma", sans-serif;
  font-weight: 100;
}

header{
  display: flex;
  justify-content: space-between;
   margin: 0px; 
    padding: 10px 50px;     /*20px- for top and bottom , 50px- for left and right*/
    position: fixed; 
     top: 0;                   
  left: 0;
  width: 90%;  
   background-color: white;
    border-bottom: 1px solid #ccc;
}


.class1 img{
  height: 460px;

}

.class1{
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 60px;

}

.section1{
  margin: 50px;
  text-align: center;
  padding-top: 10px;
}

.class2{
  width: 300px;
}

.button{
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 70px;
  margin: 100px;
}

button:hover{
  background-color: black;
  color: white;
}

.section2{
  text-align: center;
  margin: 100px;
  border-bottom: 1px solid black;
  padding-bottom: 70px;
}

footer{
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  margin: 100px;
}

.small-image img{
  height: 50px;
}

.small-image{
  padding: 8px;
  display: flex;
  align-items: center;
  padding-top: 0px;
  border-bottom: 1px solid black;
}

.small-image div{
  margin-left: 10px;
}

footer .f1{
  /* border: 1px solid orangered; */
  width: 383px;
}

.small-image:hover{
  background-color: rgb(183, 183, 183);
  color: white;
}

.f1 button{
  margin: 10px;
}

